<header>
  <nav class="dp-menu">
    <ul>
      <li><a href="https://www.linkedin.com/in/myke-william-836381244/" target="_blank">Linked'n</a></li>
      <li><a href="https://github.com/williamDevWeb" target="_blank">Git Hub</a></li>  
      <li><a href="https://www.instagram.com/maike_william.97/" target="_blank">Instagram</a></li>
    </ul>
  </nav>
</header>